@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --primary: #fadadd;
  --secondary: #e2bfdb;
  --detail: #a9a9a9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-detail: var(--detail);
  --font-banxors: var(--font-banxors);
  --font-inter: var(--font-inter);
}

body {
  color: var(--foreground);
}
