@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --primary: #fadadd;
  --secondary: #e2bfdb;
  --detail: #a9a9a9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-detail: var(--detail);
  --font-banxors: var(--font-banxors);
  --font-readable: var(--font-readable);

  --ease-cool-bezier: cubic-bezier(0.16, 1, 0.3, 1);
  --animate-rise: rise 1.75s var(--ease-cool-bezier) forwards;
  --animate-fade-in: fade-in 1.5s ease-in forwards;
}

@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

body {
  color: var(--foreground);
}

@keyframes rise {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}